.main__acercade{
    background-image: url(../assets/images/canchabanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
    width: 100%;
    .main__acercade__img1{
        border-radius: 10px;
        &:hover{
            border: solid 5px $rojo;
            border-radius: 15px;
        }
    }
    .main__acercade__p1{
        &:hover{
            color: $rojo;
        }
    }
    .main__acercade__img2{
        border-radius: 10px;
        &:hover{
            border: solid 5px $rojo;
            border-radius: 15px;
        }
    }
    .main__acercade__p2{
        &:hover{
            color: $rojo;
        }
    }
}