.main__contacto{
    background-image: url(../assets/images/canchabanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    height: 100%;
    div{
        .main__contacto__img{
            width: 400px;
            &:hover{
                width: 500px;
                transition: 2s;
            }
        }
    }
    div{
        padding: 5px;
        form{
            label{
                width: 100%;
            }
            input{
                border-radius: 8px;
                &:hover{
                    border: solid 2px $rojo;
                }
            }
            textarea{
                padding: 2px 5px 2px;
                border-radius: 8px;
                width: 70%;
                &:hover{
                    border: solid 2px $rojo;
                }
            }
        }
        .main__contacto__form__enviar{
            font-size: 18px;
            color: white;
            padding: 5px 10px 5px;
            border: 5px $rojo;
            border-radius: 8px;
            background-color: $rojo;
        }
    }
}