.main__galeria{
    background-image: url(../assets/images/canchabanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    div{
        div{
            padding: 25px;
            &:hover{
                border: 5px solid $rojo;
                border-radius: 5px;
                background-color: $rojo;
                transition-duration: .3s;
            }
            .datamiaind{
                border-radius: 10px;
                height: 550px;
            }
            .datamiabarca{
                border-radius: 10px;
                height: 550px;
            }
            .datamia{
                border-radius: 10px;
                width: 100%;
                height: 400px;
            }
            .datamiavideo1{
                border-radius: 10px;
                width: 80%;
                height: 100%;
            }
        }
    }
}