
header{
    background-color: $rojo;
    font-size: 20px;
    nav{
        div{
            .navbotonmio{color: rgb(255, 255, 255);}
        }
        div{
            ul{
                li{
                    .navmio{
                        color: rgb(255, 255, 255);
                        padding: 15px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}