@media (max-width: 576px){
    .maintrayectoria{
        padding: 10px;
        div{
            padding: 10px;
            div{
                .imgmio{
                    width: 300px;
                    height: 200px;
                }
                .imgmioarg{
                    width: 300px;
                    height: 200px;
                }
                .pmio{
                    font-size: 15px;
                }
            }
            
        }
    }

    .main__galeria{
        div{
            div{
                .datamia{
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
}