@media (max-width: 992px){
    .main__galeria{
        padding: 5px;
        div{
            div{
                padding: 10px;
                .datamiaind{
                    height: 400px;
                }
                .datamiabarca{
                    height: 300px;
                }
                .datamia{
                    width: 90%;
                }
            }
        }
    }

    .maintrayectoria{
        div{
            div{
                .imgmio{
                    width: 350px;
                    height: 250px;
                }
                .imgmioarg{
                    width: 350px;
                    height: 250px;
                }
            }
        }
    }

    .main__contacto{
        div{
            .main__contacto__img{
                width: 300px;
                &:hover{
                    width: 350px;
                    transition: 2s;
                }
            }
        }
    }
}