.maintrayectoria{
    background-image: url(../assets/images/canchabanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    div{
        padding: 15px;
        div{
            &:hover{
                border: 5px solid $rojo;
                border-radius: 5px;
                background-color: $rojo;
                transition-duration: .3s;
                color: white;
            }
            .imgmio{
                margin: 5px;
                width: 600px;
                height: 400px;
            }
            .imgmioarg{
                margin: 5px;
                width: 800px;
                height: 400px;
            }
            .pmio{
                font-size: 20px;
            }
        }
        
    }
}